h1 {
  color: rgba(0, 76, 255, 0.8);
  background-color: blueviolet;
  border: solid;
  padding: 10px 20px 30px 40px;
  border-radius: 10px;
}
h2 {
  color: #000000;
}
/*personal font*/
@font-face {
  font-family: "myCustom";
  src: url(./JetBrainsMono-Regular.woff2);
}
/*universal selector*/
/*
* {
}
*/
/*element selector*/

h2 {
  color: green;
}
/*id selector*/
#email {
  color: blueviolet;
}
/*class selector*/
.blue-text {
  color: chocolate;
}
/*
.large-text {
  font-size: 50px;
}
*/

/*element selector and class selector mix*/
label.large-text {
  font-size: 40px;
}

/*grouping selector*/
h1,
h2,
h3 {
  color: red;
}
h3 {
  opacity: 0.5;
  /*transparency*/

  /*transition: background-color 1s;*/
  transition: all 2s ease-in-out;
}
h3:hover {
  background-color: greenyellow;
  color: white;
}

/*descendant selector*/
/*because of DOM Tree */
div.link1 a {
  color: red;
  width: 50%;
}
div.link2 a {
  color: green;
}

/*attribute selector*/
input[type="text"] {
  color: brown;
}
/*pseudo class*/
input[type="text"]:focus {
  color: green;
}

/*pseudo element*/
p::before {
  content: ">>";
  color: blue;
}
p::first-line {
  font-size: 20px;
  font-family: myCustom;
}
*::selection {
  color: rgb(109, 234, 146);
}

body {
  font-family: "myCustom", monospace;
  background-image: url(./images/torontoSkyline.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: mid;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
}
tr:hover {
  background-color: rgb(125, 240, 102);
}
/*all anchor have the pointer cursor*/
a {
  cursor: pointer;
}
