h1 {
  color: rgba(0, 76, 255, 0.8);
}
h2 {
  color: #000000;
}

/*universal selector*/
/*
* {
}
*/
/*element selector*/

h2 {
  color: green;
}
/*id selector*/
#email {
  color: blueviolet;
}
/*class selector*/
.blue-text {
  color: chocolate;
}
/*
.large-text {
  font-size: 50px;
}
*/

/*element selector and class selector mix*/
label.large-text {
  font-size: 40px;
}

/*grouping selector*/
h1,
h2,
h3 {
  color: red;
}

/*descendant selector*/
/*because of DOM Tree */
div.link1 a {
  color: red;
}
div.link2 a {
  color: green;
}

/*attribute selector*/
input[type="text"] {
  color: brown;
}
/*pseudo class*/
input[type="text"]:focus {
  color: green;
}

/*pseudo element*/
p::before {
  content: ">>";
  color: blue;
}
p::first-line {
  font-size: 20px;
}
*::selection {
  color: rgb(109, 234, 146);
}
